/* header */
header {
    height: 110px;
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png);
    background-size: contain;

}

#logo {
    width: 15%;
    padding: 45px 0px 0px 10px;
}
/* /header */

/* Title, author and date  */
.upper-section > h1 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 0;
}

.upper-section > .author {
    font-size: 25px;
    color: #808080;
}

.upper-section > .date {
    font-size: 20px;
    color: #808080;
}

.link-style {
    text-decoration: none;
    color:  #20A9E5;
}
/* / Title, author and date  */

/* section paragraph */
.paragraph {
    font-size: 20px;
}

.highlight{
    background-color:yellow;
}

.list {
    padding-left: 20px;
}
/* / section paragraph */

/* section table */
table {
    font-size: 20px;
}

.head {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.first-column,.second-column {
    width: 25%;

}

.third-column {
    width: 50%;
}

.bluerow {
    background-color: #B1E5F2;
}

/* / section table */

