.container {
    max-width: 1100px;
    margin: auto;
}

/* header */
header {
    height: 110px;
    background-color: #4EA0FF;
    background-image: url(./img/pattern.png);
    background-size: 400px;
}

#logo {
    width: 15%;
    padding: 45px 0px 0px 10px;
}
/* /header */

/* Title, author and date  */
.upper-section > h1 {
    font-size: 50px;
    margin-top: 25px;
    margin-bottom: 0;
}

.upper-section > .author {
    font-size: 25px;
    color: #808080;
}

.upper-section > .date {
    font-size: 20px;
    color: #808080;
}

.link-style {
    text-decoration: none;
    color:  #20A9E5;
}
/* / Title, author and date  */

/* section paragraph */
.paragraph {
    font-size: 20px;
}

.highlight{
    background-color:yellow;
}

.list {
    padding-left: 20px;
}
/* / section paragraph */

/* section table */
table {
    font-size: 20px;
    border-collapse: collapse;
}



.head {
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.first-column,.second-column {
    width: 25%;

}

.third-column {
    width: 50%;
}

.bluerow {
    background-color: #B1E5F2;
}

/* / section table */

/* section paragraph2 */
.paragraph-2 {
    font-size: 20px;
}

.highlight {
    background-color: yellow;
}
/* / section paragraph2 */

/* section potrebbero interessarti */
#greytext{
    color: #808080;
    font-weight: bold;
    font-size: 20px;
}

.box-1,.box-2 {
    margin-top: 10px;
    width: 312px;
    height: 208px;
    background-size: contain;
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.box-1 { 
    background-image: url(img/monitor.jpg);  
}

.box-2 {
    background-image: url(img/graph.jpg);
}
/*/ section potrebbero interessarti */